
<div class="container-fluid" style="padding: 0;">
  <nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-header" style="margin-left: 20px;">
        <a routerLink="/" class="navbar-brand" style="font-size: 23px;">
          <span class="glyphicon glyphicon-list-alt"></span>
          {{ title }} 
        </a>
      </div>

    <ng-template [ngIf]="!this.authService.isAuthenticated()">
      <div class="nav navbar-nav  navbar-right" style="padding-top: 10px; margin-right: 20px;">
        <form class="form-inline" (ngSubmit)="onSignin(f)" #f="ngForm">
          <div class="form-group">
            <label for="signinEmail">Email: </label>
            <input 
              type="email" 
              class="form-control" 
              id="signinEmail" 
              name="signinEmail" 
              ngModel
              email
              required>
          </div>
          <div class="form-group">
            <label for="signinPassword">Password: </label>
            <input 
              type="password" 
              class="form-control" 
              id="signinPassword" 
              name="signinPassword" 
              ngModel
              required>
          </div>
          <button type="submit" class="btn btn-success">Login</button>
          <button type="button" class="btn btn-info" routerLink="/signup">Sign Up</button>
        </form>
      </div>
    </ng-template>

      

      <div class="navbar-default" *ngIf="this.authService.isAuthenticated()">
        <p class="navbar-text" style="float: right;">You're signed in!</p>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="cursor: pointer" (click)="onSaveList()">Save List</a></li>
          <li><a style="cursor: pointer" (click)="onFetchList()">Fetch List</a></li>
        </ul>
      </div>
      
  </nav>
</div>


<!-- 
<div class="navbar-default">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="/recipes">Recipes</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/shopping-list">Shopping List</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <ng-template [ngIf]="!authService.isAuthenticated()">
      <li>
        <a routerLink="/signup">Register</a>
      </li>
      <li>
        <a routerLink="/signin">Login</a>
      </li>
    </ng-template> -->