<ul class="list-group">
  <div *ngFor="let todo of activeTodos; let i = index">
    <div *ngIf="todo.edit == false">
      <li class="list-group-item col-xs-12" style="margin-bottom: 5px">
        <input [checked]="todo.completed === true" type="checkbox" class="form-check-input" (change)="onClickingCheckbox(todo.task)" style="cursor:pointer"> {{ i + 1 }}. {{ todo.task }}
        <button class="btn btn-danger pull-right" (click)="onRemoveTodo(todo.task)">
          Delete
        </button>
        <button class="btn btn-primary pull-right" style="margin-right: 5px" (click)="onEditTodo(i)">
          Edit
        </button>
      </li>
    </div>
    <!-- edit mode template -->
    <div class="row" *ngIf="todo.edit == true" style="margin-bottom: 5px">
      <div class="col-xs-10">
        <input type="text" class="form-control" [(ngModel)]="activeNewTodoInput" style="height: 55px; margin-top: 20px">
      </div>
      <div class="col-xs-2" style="margin-top: 30px;">
        <button class="btn btn-danger pull-right" (click)="onCancelEdit(i)">&#10008;</button>
        <button class="btn btn-success pull-right" (click)="onSaveEdit(i)" style="margin-right: 5px">&#10004;</button>
      </div>
    </div>
  </div>
</ul>