<ul class="list-group">
    <div *ngIf="!editMode">
      <li 
        class="list-group-item col-xs-12"
        *ngFor="let todo of todos; let i = index"
        [ngClass]="{completed: todo.completed == true}">
        {{ i + 1 }}. {{ todo.task }} 
        <input type="checkbox" class="form-check-input" (change)="onClickingCheckbox(i)" style="cursor:pointer">
        <button 
          class="btn btn-danger pull-right" 
          (click)="onRemoveTodo(i)">
            Delete
        </button>
        <button 
          class="btn btn-primary pull-right"
          style="margin-right: 5px"
          (click)="onEditTodo(i)">Edit</button>
      </li>
    </div>
    <div class="row" *ngIf="editMode">
      <div class="col-xs-10">
        <input type="text" class="form-control" [(ngModel)]="newTodoInput">
      </div>
      <div class="col-xs-2">
        <button class="btn btn-success pull-right" (click)="onSaveEdit(i)">Save</button>
      </div>
    </div>
</ul>


