<h4 class="text-center" style="margin-bottom: 30px">
  <em>{{ message }}</em>
</h4>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="row">
      <div class="col-xs-12 input-group">
        <input 
          type="text" 
          class="form-control" 
          placeholder="New task:" 
          [(ngModel)]="todoTextInput" 
          #todoTextInputRef
          style="height: 40px;">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="addNewTodo()" [disabled]="!todoTextInput" style="width: 70px; height: 40px;">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<app-navigation></app-navigation>