<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center" style="margin-top: 20px">
    <button 
      class="btn btn-info" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/todos/all" style="color: white">All</a>
    </button>
    <button 
      class="btn btn-info" 
      routerLinkActive="active">
        <a routerLink="/todos/active" style="color: white">Active</a>
    </button>
    <button 
      class="btn btn-info" 
      routerLinkActive="active">
        <a routerLink="/todos/completed" style="color: white">Completed</a>
    </button>
  </div>
</div>