<div class="container-fluid">
  <h1 class="text-center">{{ title }} </h1>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-10">
          <input 
            type="text" 
            class="form-control"
            placeholder="ex.."
            #todoTextInput>
        </div>
        <div class="col-xs-2">
          <button 
            class="btn btn-primary" 
            (click)="addNewTodo()">Submit</button>
        </div>
      </div>
      <hr>
      <div>
        <app-todos></app-todos>
      </div>
    </div>
  </div>
</div>