<ul class="list-group list-group-flush">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">
      <span class="glyphicon glyphicon-filter"></span>
      Filter List
    </span>
    <input type="text" name="task" class="form-control filter" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="filterText">
  </div>
  
  <br><br>

  <div 
    *ngFor="let todo of todos | filter:filterText:'task'; let i = index"
    [@list]>
    <div *ngIf="todo.edit == false">
      <li 
        class="list-group-item col-xs-12" 
        [ngClass]="{'completed': todo.completed === true, 'list-group-item-warning': todo.star === true}">
        <input 
          type="checkbox" 
          [checked]="todo.completed === true" 
          class="form-check-input" 
          (change)="onClickingCheckbox(i)" 
          style="cursor:pointer"> {{ i + 1 }}. {{ todo.task }} 
        <button class="btn btn-danger pull-right" (click)="onRemoveTodo(i)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="btn btn-primary pull-right" style="margin-right: 5px" (click)="onEditTodo(i)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button class="btn btn-warning pull-right" style="margin-right: 5px" (click)="onStar(i)">
          <span class="glyphicon glyphicon-star"></span>
        </button>
        <span class="pull-right" style="margin-right: 10px;"><em>{{ todo.started | date: 'short' }}</em></span>
      </li>
    </div>
    <!-- edit mode template -->
    <div class="row" *ngIf="todo.edit == true" style="margin-bottom: 5px">
      <div class="col-xs-10">
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="newTodoInput" 
          style="height: 40px; margin-top: 10px; background-color: #ffe3e3; font-weight: 300;">
      </div>
      <div class="col-xs-2" style="margin-top: 10px;">
        <button class="btn btn-danger pull-right" (click)="onCancelEdit(i)">&#10008;</button>
        <button class="btn btn-success pull-right" (click)="onSaveEdit(i)" style="margin-right: 5px">&#10004;</button>
      </div>
    </div>
  </div>
</ul>