.completed {
    color: green;
    text-decoration: line-through;
    font-style: italic;
}

.list-group-item-warning {
    color: red;
    font-weight: 700;
    /* border: 1px beige solid;*/
}

li {
    background-color: #ffcccc;
    border-color: #ffcccc;
    margin-bottom: 10px;
    font-weight: 300;
}

span.input-group-addon {
    background-color: beige;
    border: none;
    font-weight: 300;
}

input.filter {
    background-color: beige;
    border: beige;
    font-weight: 300;
}

input:focus {
    border-color: #ffcccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}