.completed {
    color: green;
    text-decoration: line-through;
    font-style: italic;
}

.list-group-item-warning {
    color: red;
    font-weight: 700;
}

li {
    background-color: #ffcccc;
    border-color: #ffcccc;
    margin-bottom: 5px;
    font-weight: 300;
}

