<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center" style="margin-top: 20px">
    <button class="btn btn-info" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/all" style="color: white">All</a></button>
    <button class="btn btn-info" routerLinkActive="active"><a routerLink="/active" style="color: white">Active</a></button>
    <button class="btn btn-info" routerLinkActive="active"><a routerLink="/completed" style="color: white">Comnpleted</a></button>
  </div>
</div>